
@{
    ViewBag.Title = "Weather Cards";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/41d0128d98/istanbul/" data-label_1="İSTANBUL" data-label_2="WEATHER" data-theme="original">İSTANBUL WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
<br />

<a class="weatherwidget-io" href="https://forecast7.com/en/37d8427d85/aydin/" data-label_1="AYDIN" data-label_2="WEATHER" data-theme="original">AYDIN WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
<br />

<a class="weatherwidget-io" href="https://forecast7.com/en/39d9332d86/ankara/" data-label_1="ANKARA" data-label_2="WEATHER" data-theme="original">ANKARA WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
<br />

<a class="weatherwidget-io" href="https://forecast7.com/en/40d1929d06/bursa/" data-label_1="BURSA" data-label_2="WEATHER" data-theme="original">BURSA WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<br />
<br />


<a class="weatherwidget-io" href="https://forecast7.com/en/38d5429d23/usak/" data-label_1="UŞAK" data-label_2="WEATHER" data-theme="original">UŞAK WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>


<br />
<br />

<a class="weatherwidget-io" href="https://forecast7.com/en/39d7730d53/eskisehir/" data-label_1="ESKIŞEHIR" data-label_2="WEATHER" data-theme="original">ESKIŞEHIR WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>


